@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --subheading: Inter;

  /* font sizes */
  --subheading-size: 24px;
  --font-size-lgi: 19px;
  --presets-body2-size: 16px;
  --body-text-size: 20px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --heading-size: 40px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #828282;
  --color-darkslategray-100: #454545;
  --color-darkslategray-200: #333;
  --color-black: #000;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #e0e0e0;
  --color-whitesmoke: #f7f7f7;

  /* Spacing */
  --spacing-sm: 32px;
  --spacing-m: 48px;

  /* Gaps */
  --gap-lgi: 19px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-2xs: 11px;
  --gap-5xs: 8px;
  --gap-4xl: 23px;
  --gap-29xl: 48px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-8xl: 27px;
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-29xl: 48px;
  --padding-5xl: 24px;
  --padding-13xl: 32px;
  --padding-lg: 18px;
  --padding-mini: 15px;
  --padding-30xl: 49px;
  --padding-38xl: 57px;
  --padding-2xl: 21px;
  --padding-8xs: 5px;
  --padding-134xl: 153px;
  --padding-57xl: 76px;
  --padding-base: 16px;
  --padding-10xs: 3px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-4xs: 9px;
  --padding-21xl: 40px;
  --padding-11xl: 30px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-xs: 12px;

  /* Effects */
  --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
